{{>header}}

<div class="container mt-5" >
<a class="btn btn-dark mb-2 text-light" href="/products/add-product"><i class="fa-solid fa-plus"></i> Add new product</a>
<table class="table">
  <thead style="background-color: #2169C0;">
    <tr class="text-center">
      <th scope="col">STT</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Cost</th>
      <th scope="col">Note</th>
      <th scope="col">Supplier</th>
      <th scope="col" >Active</th>
    </tr>
  </thead>
  <tbody class="table-secondary">
    {{#each products}}
    <tr class="text-center">
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.cost}}</td>
      <td>{{this.note}}</td>
      <td>{{this.supplier}}</td>
      <td>
        <div class="btn btn-success"><i class="fa-solid fa-pen"></i></div>
        <a class="btn btn-danger" href="/customs/del-custom/{{this._id}}"><i class="fa-solid fa-trash"></i></a>
    </td>
     
    </tr>
    {{/each}}
  </tbody>
</table>
</div>